{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_developer %}
        Add developer
    {% else %}
        Edit developer
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
    <br/>
    {{ utils.flashed_messages() }}
    <br/>
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_developer %}
                <h1>Add developer</h1>
            {% else %}
                <h1>Edit developer</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}